.presente{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tampa{
    height: 25px;
    width: 100px;
    background-color: #7aa944
}

.corpo{
    width: 90px;
    height: 60px;
    background-color: #5c7e32;
}

.laco1{

    background-color: red;
    width: 15px;
    height: 85px;
    position: absolute;
}

.laco2{
    position: absolute; 
    background-color: red;
    width: 90px;
    height: 15px
}